<html>

<%- include('./partials/head.ejs') %>

<body>
    <%- include('./partials/nav.ejs') %>

    <div class="blogs content">
        <h2>All Blogs</h2>

        <!-- ðŸ” Search Form -->
        <form action="/blogs/search" method="GET" style="margin-bottom: 20px;">
            <input type="text" name="q" placeholder="Search blogs..." style="padding: 5px; width: 200px;">
            <button type="submit" style="padding: 5px;">Search</button>
        </form>

        <% if (blogs.length > 0) { %>
            <% blogs.forEach(blog => { %>
                <a class="single" href="/blogs/<%= blog._id %>">
                    <h3 class="title">
                        <%= blog.title %>
                    </h3>
                    <p class="snippet">
                        <%= blog.snippet %>
                    </p>
                </a>
            <% }) %>
        <% } else { %>
            <p>There are no blogs to display...</p>
        <% } %>
    </div>
</body>

<%- include('./partials/footer.ejs') %>

</html>
